* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: gray;
}

.logo {
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    border-bottom: 4px solid black;
}

.logo h3 {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
}
.logo h1{
    margin-left: 750px;
    font-style: italic;
    margin-top: 10px;
    font-size: 60px;
    padding-bottom: 10px;
}

.container{
    margin-left: 90px;
    display: flex;
}

.container h4{
    margin-top: 40px;
    margin-left: 400px;
    color: white;
    font-size: 80px;
    margin-left: 40px;
}
.container button{
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 40px;
    padding:10px 40px 10px 40px;
    font-size: 17px;
    border-radius: 30px;
    box-shadow: 2px 3px rgb(186, 184, 184);
}

.black1 img {
    margin-top: 180px;
    margin-left: 280px;
    width: 420px;
    height: 480px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border: 5px solid black;
    box-shadow: 7px 10px rgb(71, 71, 71);
}

.gray1 img{
    margin-left: 140px;
    margin-top: -200px;
    margin-bottom: 50px;
    width: 350px;
    height: 370px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 5px solid black;
    box-shadow: 7px 10px rgb(71, 71, 71);
}

.pertengahan {
    background-color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    border-bottom: 6px solid black;
    border-top: 6px solid black;
}

.pertengahan h1{
    font-size: 40px;
}

.pertengahan h2{
    margin-top: 30px;
    margin-left: -50px;
    font-size: 25px;
}
.fotopertengahan{
    margin-top: 20px;
    display: flex;
}

.fotopertengahan img{
    margin-top: 30px;
    margin-left: 60px;
    width: 200px;
    height: 250px;
}
.fotopertengahan h3{
    margin-top: 40px;
    margin-left: 10px;
}
.fotopertengahan h1{
    margin-top: 3px;
    margin-left: 40px;
}

.bawah h1{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fotobawah img{
    height: 350px;
    width: 250px;
    background-color: aliceblue;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.barispertama{
    margin-left: 110px;
    display: flex;
}
.barispertama img{
    margin-left: 70px;
    border: 4px solid white;
}
.barispertama h2, p {
    padding-left: 30px;
    padding-top: 10px;
    color: black;
    margin-top: -10px;
    margin-left: 70px;
    background-color:white;
    padding-bottom: 10px;
}

.barispertama p{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 10px;
}

.fotobawah h3{
    margin-top: 20px;
    margin-left: 720px;
    margin-bottom: 30px;
    color: white;
    font-size: 70px;
}

.bariskedua{
    margin-left: 110px;
    display: flex;
}
.bariskedua img{
    margin-left: 70px;
    border: 4px solid  white;
}
.bariskedua h2, p {
    padding-left: 30px;
    padding-top: 10px;
    color: black;
    margin-top: -10px;
    margin-left: 70px;
    background-color:white;
    padding-bottom: 10px;
}

.bariskedua p{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 10px;
}

.fotobawah h4{
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
}

.barisketiga{
    margin-left: 440px;
    display: flex;
}
.barisketiga img{
    margin-left: 70px;
    border: 4px solid  white;
}
.barisketiga h2, p {
    padding-left: 30px;
    padding-top: 10px;
    color: black;
    margin-top: -10px;
    margin-left: 70px;
    background-color:white;
    padding-bottom: 10px;
}

.barisketiga p{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 10px;
}

.bawah2{
    margin-top: 30px;
    display: flex;
    background-color: white;
    justify-content:space-between;
}

.bawah2 img{
    width: 270px;
    height: 400px;
    border-bottom: 20px solid white;
    border-top: 20px solid white;
}

.text{
    text-align: center;
}

.text h1{
    padding-top: 20px;
    font-size: 60px;
}

.text h6{
    margin-top: 20px;
    font-size: 30px;
    margin-left: -10px;
}

.text button{
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
    border: 4px solid black;
    border-radius: 30px;
    font-size: 20px;
}

.fotoawal img{
    border-left: 70px solid white;
}

.fotokedua img{
    border-right: 70px solid white;
}

.kaki{
    background-color: black;
    color: white;
    display: flex;
}

.nopall h1{
    margin-left: 100px;
    padding-top: 40px;
    font-size: 40px
}

.nopall p{
    margin-top: 20px;
    color: white;
    background-color: black;
    font-size: 20px;
}

h2, h6{
    margin-left: 250px;
}
h2{
    margin-top: 40px;
    font-size: 25x;
}
h6{
    margin-top: 20px;
    font-size: 15px;
}
@media screen and (max-width: 848px) {
    .logo {
        background-color: white;
        width: 1200px;
        margin-left: 120px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        border-bottom: 4px solid black;
    }
    
    .logo h3 {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 20px;
    }
    .logo h1{
        margin-left: 500px;
        font-style: italic;
        margin-top: 10px;
        font-size: 60px;
        padding-bottom: 10px;
    }
    
    .container{
    }
    
    .container h4{
        margin-top: 40px;
        color: white;
        font-size: 120px;
        text-align: center;
        width: 1200px;
    }
    .container button{
        border: 2px solid black;
        padding:10px 40px 10px 40px;
        font-size: 30px;
        border-radius: 30px;
        box-shadow: 2px 3px rgb(186, 184, 184);
        margin-left: 500px;
    }
    
    .black1 img {
        margin-left: -550px;
        margin-top: 700px;
        width: 520px;
        height: 680px;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 40%;
        border: 5px solid black;
        box-shadow: 7px 10px rgb(71, 71, 71);
    }
    
    .gray1 img{
        margin-left: 100px;
        margin-top: -700px;
        margin-bottom: 200px;
        width: 570px;
        height: 680px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border: 5px solid black;
        box-shadow: 7px 10px rgb(71, 71, 71);
    }
    
    .pertengahan {
        background-color: white;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 60px;
        height: 400px;
        width: 1440px;
        border-bottom: 6px solid black;
        border-top: 6px solid black;
    }
    
    .pertengahan h1{
        font-size: 40px;
    }
    
    .pertengahan h2{
        margin-top: 30px;
        margin-left: -50px;
        font-size: 25px;
    }
    .fotopertengahan{
        margin-top: 20px;
    }
    
    .fotopertengahan img{
        margin-top: 30px;
        margin-left: 60px;
        width: 200px;
        height: 250px;
    }
    .fotopertengahan h3{
        margin-top: 40px;
        margin-left: 10px;
    }
    .fotopertengahan h1{
        margin-top: 3px;
        margin-left: 40px;
    }
    
    .bawah h1{
        text-align: center;
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .fotobawah img{
        height: 350px;
        width: 250px;
        background-color: aliceblue;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    
    .barispertama{
        margin-left: 110px;
        display: flex;
    }
    .barispertama img{
        margin-left: 70px;
        border: 4px solid white;
    }
    .barispertama h2, p {
        padding-left: 30px;
        padding-top: 10px;
        color: black;
        margin-top: -10px;
        margin-left: 70px;
        background-color:white;
        padding-bottom: 10px;
    }
    
    .barispertama p{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-bottom: 10px;
    }
    
    .fotobawah h3{
        margin-top: 20px;
        margin-left: 720px;
        margin-bottom: 30px;
        color: white;
        font-size: 70px;
    }
    
    .bariskedua{
        margin-left: 110px;
        display: flex;
    }
    .bariskedua img{
        margin-left: 70px;
        border: 4px solid  white;
    }
    .bariskedua h2, p {
        padding-left: 30px;
        padding-top: 10px;
        color: black;
        margin-top: -10px;
        margin-left: 70px;
        background-color:white;
        padding-bottom: 10px;
    }
    
    .bariskedua p{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-bottom: 10px;
    }
    
    .fotobawah h4{
        margin-top: 20px;
        margin-left: 600px;
        margin-bottom: 30px;
        color: white;
        font-size: 60px;
    }
    
    .barisketiga{
        margin-left: 440px;
        display: flex;
    }
    .barisketiga img{
        margin-left: 70px;
        border: 4px solid  white;
    }
    .barisketiga h2, p {
        padding-left: 30px;
        padding-top: 10px;
        color: black;
        margin-top: -10px;
        margin-left: 70px;
        background-color:white;
        padding-bottom: 10px;
    }
    
    .barisketiga p{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-bottom: 10px;
    }
    
    .bawah2{
        margin-top: 30px;
        display: flex;
        background-color: white;
        justify-content:space-between;
    }
    
    .bawah2 img{
        width: 270px;
        height: 400px;
        border-bottom: 20px solid white;
        border-top: 20px solid white;
    }
    
    .text{
        text-align: center;
    }
    
    .text h1{
        padding-top: 20px;
        font-size: 60px;
    }
    
    .text h6{
        margin-top: 20px;
        font-size: 30px;
        margin-left: -10px;
    }
    
    .text button{
        margin-top: 40px;
        padding: 10px 30px 10px 30px;
        border: 4px solid black;
        border-radius: 30px;
        font-size: 20px;
    }
    
    .fotoawal img{
        border-left: 70px solid white;
    }
    
    .fotokedua img{
        border-right: 70px solid white;
    }
    
    .kaki{
        background-color: black;
        color: white;
        display: flex;
    }
    
    .nopall h1{
        margin-left: 100px;
        padding-top: 40px;
        font-size: 40px
    }
    
    .nopall p{
        margin-top: 20px;
        color: white;
        background-color: black;
        font-size: 20px;
    }
    
    h2, h6{
        margin-left: 250px;
    }
    h2{
        margin-top: 40px;
        font-size: 25x;
    }
    h6{
        margin-top: 20px;
        font-size: 15px;
    }
}